ul {
    position: relative;
    display: flex;
    gap: 20px;
    height: 100%;
}

.react-multiple-carousel__arrow {
    position: absolute;
    background: #C46529;
    margin-top: 50px;
    height: 70px;
    width: 70px;
    top: 0;
    z-index: 100;
}

