@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-weight: 400;
  font-size: 16px;
  height: 100dvh;
}

body.green {
  background: #047E6E;
  color: white;
}
